<template>
    <!-- divColor will change on button click to use our css classes-->
    <div class={divColor}>
        <!-- Button to toggle css class -->
        <lightning-button variant="destructive" label="Toggle CSS Class" onclick={toggleColor} class="slds-align_absolute-center"></lightning-button>
 
    </div>
</template>